NODE_ENV=development
PORT=3000

DATABASE=mongodb
DATABASE_PASSWORD=mongodb_pass

JWT_SECRET=secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=mailtrap_username
EMAIL_PASSWORD=mailtrap_password
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525

EMAIL_USERNAME_PROD=resend_username
EMAIL_HOST_PROD=smtp.resend.com
EMAIL_PORT_PROD=465
EMAIL_PASSWORD_PROD=resend_api_key

EMAIL_FROM=onboarding@resend.dev

STRIPE_SECRET_KEY=stripe_secret
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret